In [1]:
import pandas as pd
import sqlite3
sqlite_db = 'database.sqlite'
conn = sqlite3.connect(sqlite_db)
c = conn.cursor()

In [2]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [3]:
loans = pd.read_csv('loan.csv')
loans.head()

/Users/polbrigneti/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
loans['length_years'] = loans.loan_term/12

In [13]:
loans.year = loans.year.astype(int)

In [14]:
loans['end_d'] = loans.year + loans.length_years

In [15]:
loans['end_date'] = loans.month +"-"+loans.end_d.map(str)

In [6]:
# Extracting month, year and loan_term
loans['month'] = loans.issue_d.apply(lambda x: x[:3])
loans['year'] = loans.issue_d.apply(lambda x: x[4:])
loans['loan_term'] = loans.term.apply(lambda x: x[:3])
loans.loan_term = loans.loan_term.astype('int64')

In [7]:
def month_num(input_str):
    if input_str == 'Jan':
        return '01'
    elif input_str == 'Feb':
        return '02'
    elif input_str == 'Mar':
        return '03'
    elif input_str == 'Apr':
        return '04'
    elif input_str == 'May':
        return '05'
    elif input_str == 'Jun':
        return '06'
    elif input_str == 'Jul':
        return '07'
    elif input_str == 'Aug':
        return '08'
    elif input_str == 'Sep':
        return '09'
    elif input_str == 'Oct':
        return '10'
    elif input_str == 'Nov':
        return '11'
    elif input_str == 'Dec':
        return '12'

In [8]:
def quarter_num(input_str):
    if input_str == 'Jan':
        return 'Q1'
    elif input_str == 'Feb':
        return 'Q1'
    elif input_str == 'Mar':
        return 'Q1'
    elif input_str == 'Apr':
        return 'Q2'
    elif input_str == 'May':
        return 'Q2'
    elif input_str == 'Jun':
        return 'Q2'
    elif input_str == 'Jul':
        return 'Q3'
    elif input_str == 'Aug':
        return 'Q3'
    elif input_str == 'Sep':
        return 'Q3'
    elif input_str == 'Oct':
        return 'Q4'
    elif input_str == 'Nov':
        return 'Q4'
    elif input_str == 'Dec':
        return 'Q4'

In [9]:
# Adding columns with month number and quarter
loans['month_num'] = loans.month.apply(lambda x: month_num(x))
loans['quarter'] = loans.month.apply(lambda x: quarter_num(x))

In [10]:
# Calculating loans revenue and gmv
loans['loan_gmv'] = loans.loan_term * loans.installment
loans['loan_revenue'] = loans.loan_gmv - loans.loan_amnt

In [ ]:
% default rate
% active loans
loans per month
installment per default rate

In [111]:
loans_db = loans[['id','member_id','loan_amnt','loan_term','funded_amnt','funded_amnt_inv','grade', 'purpose','sub_grade','addr_state','int_rate','issue_d','installment','month','term','year','loan_status','month_num','quarter','loan_revenue','loan_gmv','total_pymnt']]
loans_db.to_sql('loans_data', con=engine)

### Distribution of the loans

### Outstanding loans over time

In [126]:
outstanding_loans = engine.execute("""SELECT 
                                        year, 
                                        quarter, 
                                        COUNT(id) 
                                    FROM 
                                        loan
                                    WHERE 
                                        loan_status <> "Fully paid" 
                                    GROUP BY 
                                        1,2
                                    ORDER BY
                                        1""").fetchall()
outstanding_loans_df = pd.DataFrame(data=outstanding_loans, columns=['year','quarter','loans'])
outstanding_loans_df

    year quarter   loans
0   2007      Q2      24
1   2007      Q3     190
2   2007      Q4     389
3   2008      Q1    1013
4   2008      Q2     498
5   2008      Q3     298
6   2008      Q4     584
7   2009      Q1     895
8   2009      Q2    1098
9   2009      Q3    1364
10  2009      Q4    1924
11  2010      Q1    2172
12  2010      Q2    3006
13  2010      Q3    3568
14  2010      Q4    3791
15  2011      Q1    4126
16  2011      Q2    5102
17  2011      Q3    5876
18  2011      Q4    6617
19  2012      Q1    8076
20  2012      Q2   10447
21  2012      Q3   16133
22  2012      Q4   18711
23  2013      Q1   22706
24  2013      Q2   30668
25  2013      Q3   37571
26  2013      Q4   43810
27  2014      Q1   47410
28  2014      Q2   55349
29  2014      Q3   58726
30  2014      Q4   74143
31  2015      Q1   84277
32  2015      Q2   95825
33  2015      Q3  110489
34  2015      Q4  130503

In [121]:
outstanding_loans_df.to_csv('outstanding_loans')

In [127]:
amnt_outstanding = engine.execute("""
                                    SELECT 
                                        year, 
                                        quarter, 
                                        SUM(loan_amnt) 
                                    FROM 
                                        loan
                                    WHERE 
                                        loan_status <> "Fully paid" 
                                    GROUP BY 
                                        1,2
                                    ORDER BY
                                        1""").fetchall()
amnt_outstanding_df = pd.DataFrame(data=amnt_outstanding, columns=['year','quarter','loans'])
amnt_outstanding_df

    year quarter         loans
0   2007      Q2  9.185000e+04
1   2007      Q3  1.236575e+06
2   2007      Q4  3.649050e+06
3   2008      Q1  1.003528e+07
4   2008      Q2  3.722950e+06
5   2008      Q3  1.766600e+06
6   2008      Q4  5.594425e+06
7   2009      Q1  8.246350e+06
8   2009      Q2  1.011508e+07
9   2009      Q3  1.330202e+07
10  2009      Q4  2.026480e+07
11  2010      Q1  2.351070e+07
12  2010      Q2  3.128828e+07
13  2010      Q3  3.629098e+07
14  2010      Q4  4.090260e+07
15  2011      Q1  4.599318e+07
16  2011      Q2  5.781022e+07
17  2011      Q3  7.042278e+07
18  2011      Q4  8.745765e+07
19  2012      Q1  1.098150e+08
20  2012      Q2  1.373662e+08
21  2012      Q3  2.074009e+08
22  2012      Q4  2.638289e+08
23  2013      Q1  3.528892e+08
24  2013      Q2  4.462256e+08
25  2013      Q3  5.387206e+08
26  2013      Q4  6.441537e+08
27  2014      Q1  7.085650e+08
28  2014      Q2  8.177400e+08
29  2014      Q3  8.739159e+08
30  2014      Q4  1.103609e+09
31  2015      Q1  1.290044e+09
32  2015      Q2  1.452368e+09
33  2015      Q3  1.701817e+09
34  2015      Q4  1.973351e+09

In [129]:
amnt_outstanding_df.to_csv('amnt_outstanding_loans')

### Current status of the loans

In [92]:
loans.loan_status.value_counts()

Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

### Grade classifications of the loans

In [ ]:
# Loans per grade
loans_grade = loans.grade.value_counts()
loans_grade.to_csv('loans_grade')

In [ ]:
loans_grade

In [ ]:
loans.groupby(['grade','sub_grade'])['loan_amnt'].sum()

In [ ]:
# Amount borrowed per grade 
amnt_per_grade = engine.execute("""SELECT 
                                        grade, 
                                        SUM(loan_amnt) 
                                    FROM 
                                        loan 
                                    GROUP BY 
                                        1""").fetchall()
amnt_per_grade

In [ ]:
# Loans per sub_grade
loans.sub_grade.value_counts()

In [ ]:
# Amount borrowed per sub_grade 
amnt_per_sub_grade = engine.execute(""""SELECT 
                                            sub_grade, 
                                            SUM(loan_amnt) 
                                        FROM 
                                            loan 
                                        GROUP BY 
                                            1""").fetchall()
amnt_per_sub_grade_df = pd.DataFrame(data=amnt_per_sub_grade, columns=['sub_grade','loan_amount'])
amnt_per_sub_grade_df.to_csv('amnt_per_sub_grade')

### Loan Purposes

In [ ]:
loans.purpose.value_counts()

In [ ]:
amnt_loans_purpose = engine.execute("""SELECT 
                                            purpose, 
                                            SUM(loan_amnt) 
                                        FROM 
                                            loan_data 
                                        GROUP BY 
                                            1 
                                        ORDER BY 
                                            2 DESC""").fetchall()
amnt_loans_purpose_df = pd.DataFrame(data=amount_loans_purpose, columns=['purpose','loan_amount'])
amnt_loans_purpose_df.to_csv('amnt_loans_purpose')

### Distribution of loans per state (Volume and Value)

In [ ]:
loan_state_distribution = engine.execute("""SELECT 
                                                addr_state, 
                                                SUM(loan_amnt) AS value, 
                                                COUNT(addr_state) AS volume 
                                            FROM 
                                                loans_data 
                                            GROUP BY 
                                                1""").fetchall()
loan_state_distribution_df = pd.DataFrame(data=loan_state_distribution, columns=['addr_state','value', 'volume'])

In [ ]:
loan_state_distribution_df.to_csv('loan_state_distribution')

In [ ]:
loan_state_distribution_df

In [ ]:
loan_state_distribution_df.to_csv('loans_distribution')

### Range of Interest Rates per Grade

In [ ]:
interest_per_grade = engine.execute("""SELECT 
                                            grade, 
                                            int_rate AS interest 
                                        FROM 
                                            loan_data 
                                        GROUP BY 
                                            1,2""").fetchall()
interest_per_grade

In [ ]:
interest_per_grade_df = pd.DataFrame(data=interest_per_grade, columns=['grade','sub_grade','loans','interest'])
interest_per_grade_df.to_csv('interests_per_sub_grade')

In [65]:
interest_over_time = engine.execute("""
                                        SELECT
                                            year,
                                            month,
                                            month_num,
                                            ROUND(AVG(int_rate),2)
                                        FROM 
                                            loans
                                        WHERE
                                            grade = "G"
                                        GROUP BY
                                            1,2
                                        ORDER BY
                                            1,3,4""").fetchall()

In [66]:
interest_over_time_df = pd.DataFrame(data=interest_over_time, columns=['year','month','month_num','int_rate'])
interest_over_time_df.to_csv('interst_rate_grade')

## Trends

In [130]:
amount_loans = engine.execute('SELECT year, month, month_num, COUNT(id) FROM loan GROUP BY 1,2 ORDER BY 1,3 DESC').fetchall()

In [131]:
amount_loans

[(u'2007', u'Dec', u'12', 172),
 (u'2007', u'Nov', u'11', 112),
 (u'2007', u'Oct', u'10', 105),
 (u'2007', u'Sep', u'09', 53),
 (u'2007', u'Aug', u'08', 74),
 (u'2007', u'Jul', u'07', 63),
 (u'2007', u'Jun', u'06', 24),
 (u'2008', u'Dec', u'12', 253),
 (u'2008', u'Nov', u'11', 209),
 (u'2008', u'Oct', u'10', 122),
 (u'2008', u'Sep', u'09', 57),
 (u'2008', u'Aug', u'08', 100),
 (u'2008', u'Jul', u'07', 141),
 (u'2008', u'Jun', u'06', 124),
 (u'2008', u'May', u'05', 115),
 (u'2008', u'Apr', u'04', 259),
 (u'2008', u'Mar', u'03', 402),
 (u'2008', u'Feb', u'02', 306),
 (u'2008', u'Jan', u'01', 305),
 (u'2009', u'Dec', u'12', 658),
 (u'2009', u'Nov', u'11', 662),
 (u'2009', u'Oct', u'10', 604),
 (u'2009', u'Sep', u'09', 507),
 (u'2009', u'Aug', u'08', 446),
 (u'2009', u'Jul', u'07', 411),
 (u'2009', u'Jun', u'06', 406),
 (u'2009', u'May', u'05', 359),
 (u'2009', u'Apr', u'04', 333),
 (u'2009', u'Mar', u'03', 324),
 (u'2009', u'Feb', u'02', 302),
 (u'2009', u'Jan', u'01', 269),
 (u'2010', u'Dec', u'12', 1335),
 (u'2010', u'Nov', u'11', 1224),
 (u'2010', u'Oct', u'10', 1232),
 (u'2010', u'Sep', u'09', 1189),
 (u'2010', u'Aug', u'08', 1175),
 (u'2010', u'Jul', u'07', 1204),
 (u'2010', u'Jun', u'06', 1105),
 (u'2010', u'May', u'05', 989),
 (u'2010', u'Apr', u'04', 912),
 (u'2010', u'Mar', u'03', 828),
 (u'2010', u'Feb', u'02', 682),
 (u'2010', u'Jan', u'01', 662),
 (u'2011', u'Dec', u'12', 2267),
 (u'2011', u'Nov', u'11', 2232),
 (u'2011', u'Oct', u'10', 2118),
 (u'2011', u'Sep', u'09', 2067),
 (u'2011', u'Aug', u'08', 1934),
 (u'2011', u'Jul', u'07', 1875),
 (u'2011', u'Jun', u'06', 1835),
 (u'2011', u'May', u'05', 1704),
 (u'2011', u'Apr', u'04', 1563),
 (u'2011', u'Mar', u'03', 1448),
 (u'2011', u'Feb', u'02', 1298),
 (u'2011', u'Jan', u'01', 1380),
 (u'2012', u'Dec', u'12', 6066),
 (u'2012', u'Nov', u'11', 6382),
 (u'2012', u'Oct', u'10', 6263),
 (u'2012', u'Sep', u'09', 6087),
 (u'2012', u'Aug', u'08', 5419),
 (u'2012', u'Jul', u'07', 4627),
 (u'2012', u'Jun', u'06', 3817),
 (u'2012', u'May', u'05', 3400),
 (u'2012', u'Apr', u'04', 3230),
 (u'2012', u'Mar', u'03', 2914),
 (u'2012', u'Feb', u'02', 2560),
 (u'2012', u'Jan', u'01', 2602),
 (u'2013', u'Dec', u'12', 15020),
 (u'2013', u'Nov', u'11', 14676),
 (u'2013', u'Oct', u'10', 14114),
 (u'2013', u'Sep', u'09', 12987),
 (u'2013', u'Aug', u'08', 12674),
 (u'2013', u'Jul', u'07', 11910),
 (u'2013', u'Jun', u'06', 10899),
 (u'2013', u'May', u'05', 10350),
 (u'2013', u'Apr', u'04', 9419),
 (u'2013', u'Mar', u'03', 8273),
 (u'2013', u'Feb', u'02', 7561),
 (u'2013', u'Jan', u'01', 6872),
 (u'2014', u'Dec', u'12', 10307),
 (u'2014', u'Nov', u'11', 25054),
 (u'2014', u'Oct', u'10', 38782),
 (u'2014', u'Sep', u'09', 10606),
 (u'2014', u'Aug', u'08', 18814),
 (u'2014', u'Jul', u'07', 29306),
 (u'2014', u'Jun', u'06', 17179),
 (u'2014', u'May', u'05', 19099),
 (u'2014', u'Apr', u'04', 19071),
 (u'2014', u'Mar', u'03', 16513),
 (u'2014', u'Feb', u'02', 15269),
 (u'2014', u'Jan', u'01', 15628),
 (u'2015', u'Dec', u'12', 44342),
 (u'2015', u'Nov', u'11', 37530),
 (u'2015', u'Oct', u'10', 48631),
 (u'2015', u'Sep', u'09', 28641),
 (u'2015', u'Aug', u'08', 35886),
 (u'2015', u'Jul', u'07', 45962),
 (u'2015', u'Jun', u'06', 28485),
 (u'2015', u'May', u'05', 31913),
 (u'2015', u'Apr', u'04', 35427),
 (u'2015', u'Mar', u'03', 25400),
 (u'2015', u'Feb', u'02', 23770),
 (u'2015', u'Jan', u'01', 35107)]

In [132]:
amount_loans_df = pd.DataFrame(data=amount_loans, columns=['year','month','month_num','loans'])
amount_loans_df.to_csv('amount_loans')

In [81]:
loans.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,month,year,loan_term,month_num,quarter,loan_gmv,loan_revenue,length_years,end_d,end_date
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,Dec,2011,36,12,Q4,5863.32,863.32,3.0,2014.0,Dec-2014.0
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,Dec,2011,60,12,Q4,3589.80,1089.80,5.0,2016.0,Dec-2016.0
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,Dec,2011,36,12,Q4,3035.88,635.88,3.0,2014.0,Dec-2014.0
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,Dec,2011,36,12,Q4,12215.16,2215.16,3.0,2014.0,Dec-2014.0
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,Dec,2011,60,12,Q4,4067.40,1067.40,5.0,2016.0,Dec-2016.0

### Loan Performance

In [86]:
performance = engine.execute("""
                                SELECT
                                    grade,
                                    SUM(installment) as Issued
                                FROM
                                    loan
                                GROUP BY
                                    1""").fetchall()
performance

[(u'A', 63371052.94997727),
 (u'B', 103962094.86997947),
 (u'C', 103738680.15000223),
 (u'D', 63571180.629994854),
 (u'E', 36412625.42000008),
 (u'F', 13036069.860000035),
 (u'G', 3441903.8799999887)]

### Growth

In [44]:
growth = engine.execute("""
                        SELECT
                            year,
                            quarter,
                            COUNT(*),
                            SUM(loan_amnt)
                        FROM
                            loans
                        GROUP BY 1,2""").fetchall()
growth_df = pd.DataFrame(data=growth, columns=['year','quarter','loans','amount'])
growth_df.to_csv('growth')

### Profitability

In [155]:
# Assumption: We include the loans that "Does not meet the credit policy. Status:Fully Paid" as fully paid 
loan_profit = engine.execute("""
                SELECT
                    year,
                    month,
                    month_num,
                    ROUND(SUM(loan_amnt),2) AS amnt_borrowed,
                    ROUND(SUM(loan_gmv),2) AS return
                FROM
                    loans
                GROUP BY
                 1,2
                ORDER BY
                 1,3   """).fetchall()

loan_profit_df = pd.DataFrame(data=loan_profit, columns=['year','month','month_num','amnt_borrowed','return'])
loan_profit_df.to_csv('loan_profit')

In [156]:
loan_profit_df

     year month month_num  amnt_borrowed        return
0    2007   Jun        06        91850.0  1.067476e+05
1    2007   Jul        07       348325.0  3.925231e+05
2    2007   Aug        08       515300.0  5.898294e+05
3    2007   Sep        09       372950.0  4.521056e+05
4    2007   Oct        10       753225.0  8.284864e+05
5    2007   Nov        11      1008650.0  1.192374e+06
6    2007   Dec        12      1887175.0  2.187126e+06
7    2008   Jan        01      2926000.0  3.475682e+06
8    2008   Feb        02      2959225.0  3.562170e+06
9    2008   Mar        03      4150050.0  4.994212e+06
10   2008   Apr        04      2433875.0  2.189418e+06
11   2008   May        05       628900.0  6.927566e+05
12   2008   Jun        06       660175.0  7.760290e+05
13   2008   Jul        07       856475.0  9.669614e+05
14   2008   Aug        08       592450.0  5.672063e+05
15   2008   Sep        09       317675.0  3.280745e+05
16   2008   Oct        10       962550.0  1.132698e+06
17   2008   Nov        11      2064900.0  2.419755e+06
18   2008   Dec        12      2566975.0  2.915637e+06
19   2009   Jan        01      2470125.0  2.980111e+06
20   2009   Feb        02      2714925.0  3.304784e+06
21   2009   Mar        03      3061300.0  3.723782e+06
22   2009   Apr        04      3079475.0  3.721042e+06
23   2009   May        05      3443300.0  4.032795e+06
24   2009   Jun        06      3592300.0  4.309115e+06
25   2009   Jul        07      3876150.0  4.681787e+06
26   2009   Aug        08      4318650.0  5.199991e+06
27   2009   Sep        09      5107225.0  6.167950e+06
28   2009   Oct        10      6289450.0  7.641366e+06
29   2009   Nov        11      6848875.0  8.323465e+06
..    ...   ...       ...            ...           ...
73   2013   Jul        07    170776825.0  2.268869e+08
74   2013   Aug        08    180032675.0  2.402380e+08
75   2013   Sep        09    187911125.0  2.526424e+08
76   2013   Oct        10    204578000.0  2.745105e+08
77   2013   Nov        11    215410600.0  2.843143e+08
78   2013   Dec        12    224165125.0  2.955617e+08
79   2014   Jan        01    232715325.0  3.061150e+08
80   2014   Feb        02    230086925.0  3.044132e+08
81   2014   Mar        03    245762800.0  3.273256e+08
82   2014   Apr        04    281179575.0  3.753546e+08
83   2014   May        05    280661600.0  3.723474e+08
84   2014   Jun        06    255898875.0  3.399439e+08
85   2014   Jul        07    433044725.0  5.741687e+08
86   2014   Aug        08    281426975.0  3.707817e+08
87   2014   Sep        09    159444175.0  2.088010e+08
88   2014   Oct        10    571750975.0  7.468032e+08
89   2014   Nov        11    373466650.0  4.882622e+08
90   2014   Dec        12    158391575.0  2.055315e+08
91   2015   Jan        01    533132575.0  6.952936e+08
92   2015   Feb        02    366908525.0  4.754200e+08
93   2015   Mar        03    390003275.0  5.065262e+08
94   2015   Apr        04    539401075.0  7.013154e+08
95   2015   May        05    483189475.0  6.273547e+08
96   2015   Jun        06    429777175.0  5.587793e+08
97   2015   Jul        07    696238600.0  9.032788e+08
98   2015   Aug        08    555331400.0  7.195755e+08
99   2015   Sep        09    450246800.0  5.851803e+08
100  2015   Oct        10    738221400.0  9.493084e+08
101  2015   Nov        11    567247325.0  7.283425e+08
102  2015   Dec        12    667882550.0  8.593422e+08

[103 rows x 5 columns]

### Active loans (Value & Volume)

In [47]:
active_loans = engine.execute("""
                                SELECT
                                    year,
                                    month,
                                    month_num,
                                    COUNT(*) AS loans,
                                    SUM(loan_amnt)
                                FROM
                                    loan
                                WHERE
                                    loan_status <> "Fully Paid"
                                GROUP BY
                                    1,2
                                ORDER BY
                                    1,3""").fetchall()
active_loans_df = pd.DataFrame(data=active_loans, columns=['year','month','month_num','volume','value'])
active_loans_df.to_csv('active_loans')

In [48]:
active_loans_df

     year month month_num  volume        value
0    2007   Jun        06      23      84350.0
1    2007   Jul        07      33     176625.0
2    2007   Aug        08      48     357950.0
3    2007   Sep        09      38     257050.0
4    2007   Oct        10      68     504150.0
5    2007   Nov        11      82     719450.0
6    2007   Dec        12     105    1147025.0
7    2008   Jan        01     165    1531675.0
8    2008   Feb        02     157    1583800.0
9    2008   Mar        03     206    2034125.0
10   2008   Apr        04     131    1209275.0
11   2008   May        05      54     279375.0
12   2008   Jun        06      65     324800.0
13   2008   Jul        07      75     471550.0
14   2008   Aug        08      35     218150.0
15   2008   Sep        09      30     159250.0
16   2008   Oct        10      41     330300.0
17   2008   Nov        11      56     707950.0
18   2008   Dec        12      63     618325.0
19   2009   Jan        01      58     558425.0
20   2009   Feb        02      76     714875.0
21   2009   Mar        03      79     705725.0
22   2009   Apr        04      83     818525.0
23   2009   May        05      82     768400.0
24   2009   Jun        06      93     848500.0
25   2009   Jul        07      84     864000.0
26   2009   Aug        08      78     833850.0
27   2009   Sep        09     115    1168700.0
28   2009   Oct        10     146    1728400.0
29   2009   Nov        11     143    1527600.0
..    ...   ...       ...     ...          ...
73   2013   Jul        07    7110  103606400.0
74   2013   Aug        08    7644  110263300.0
75   2013   Sep        09    7980  117310875.0
76   2013   Oct        10    8850  130733425.0
77   2013   Nov        11    9389  139867050.0
78   2013   Dec        12    9675  147238650.0
79   2014   Jan        01   10414  157685125.0
80   2014   Feb        02   10671  163505575.0
81   2014   Mar        03   11638  176417400.0
82   2014   Apr        04   13805  207288375.0
83   2014   May        05   14051  209901775.0
84   2014   Jun        06   12967  196617100.0
85   2014   Jul        07   22533  338806975.0
86   2014   Aug        08   14703  223554575.0
87   2014   Sep        09    8475  129994150.0
88   2014   Oct        10   31777  477078625.0
89   2014   Nov        11   21067  318175125.0
90   2014   Dec        12    8814  137120225.0
91   2015   Jan        01   30427  467002600.0
92   2015   Feb        02   21224  330417500.0
93   2015   Mar        03   22977  355031325.0
94   2015   Apr        04   32471  497597375.0
95   2015   May        05   29569  449413675.0
96   2015   Jun        06   26796  405747700.0
97   2015   Jul        07   43719  664002850.0
98   2015   Aug        08   34543  535256875.0
99   2015   Sep        09   27754  436465875.0
100  2015   Oct        10   47627  723674450.0
101  2015   Nov        11   37029  559683350.0
102  2015   Dec        12   43974  662156525.0

[103 rows x 5 columns]

In [160]:
paid_loans = engine.execute("""
                                SELECT
                                    year,
                                    month,
                                    month_num,
                                    SUM(loan_amnt),
                                    ROUND(SUM(loan_gmv),2)
                                FROM
                                    loans
                                WHERE
                                    loan_status = "Fully Paid"
                                GROUP BY
                                    1,2
                                ORDER BY
                                    1,3""").fetchall()
paid_loans_df = pd.DataFrame(data=paid_loans, columns=['year','month','month_num','loan_amnt','loan_gmv'])
paid_loans_df.to_csv('paid_loans_amnt')

In [40]:
loans.loan_status.value_counts()

Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

### Grade distribution per year

In [122]:
grade_distribution = engine.execute("""
                SELECT
                    year,
                    grade,
                    COUNT(*) as default_loans
                FROM
                    loans_data
                WHERE
                    loan_term = "36"
                GROUP BY
                    1,2""").fetchall()
grade_distribution_df = pd.DataFrame(data = grade_distribution, columns=['year','grade','loans'])
grade_distribution_df.to_csv('grade_distribution')

In [123]:
grade_distribution_df

    year grade  loans
0   2007     A     78
1   2007     B     98
2   2007     C    141
3   2007     D     99
4   2007     E    100
5   2007     F     52
6   2007     G     35
7   2008     A    318
8   2008     B    594
9   2008     C    580
10  2008     D    419
11  2008     E    285
12  2008     F    111
13  2008     G     86
14  2009     A   1203
15  2009     B   1445
16  2009     C   1348
17  2009     D    817
18  2009     E    308
19  2009     F    105
20  2009     G     55
21  2010     A   2567
22  2010     B   2805
23  2010     C   2070
24  2010     D   1253
25  2010     E    336
26  2010     F     91
27  2010     G     34
28  2011     A   5579
29  2011     B   4722
..   ...   ...    ...
33  2011     F     54
34  2011     G     10
35  2012     A  10753
36  2012     B  16805
37  2012     C   9902
38  2012     D   5088
39  2012     E    795
40  2012     F    103
41  2012     G     24
42  2013     A  17053
43  2013     B  40297
44  2013     C  24677
45  2013     D  14501
46  2013     E   3230
47  2013     F    607
48  2013     G     15
49  2014     A  35333
50  2014     B  53460
51  2014     C  44042
52  2014     D  20509
53  2014     E   7066
54  2014     F   1980
55  2014     G    179
56  2015     A  70131
57  2015     B  91783
58  2015     C  77457
59  2015     D  32740
60  2015     E   9450
61  2015     F   1363
62  2015     G    248

[63 rows x 3 columns]

In [96]:
loans.term.value_counts()

 36 months    621125
 60 months    266254
Name: term, dtype: int64

### Default rate

In [90]:
default_rate = engine.execute("""
                SELECT
                    year,
                    month,
                    month_num,
                    SUM(CASE WHEN loan_status IN("Charged Off","Default","Does not meet the credit policy. Status:Charged Off ") THEN 1 ELSE 0 END) as default_loans,
                    COUNT(*) as total_loans
                FROM
                    loan
                GROUP BY
                    1,2
                ORDER BY
                    1,3""").fetchall()
default_rate_df = pd.DataFrame(data=default_rate, columns=['year','month','month_num','default_loans','total_loans'])
default_rate_df.to_csv('default_rate')

In [23]:
amnt_default_rate = engine.execute("""
                SELECT
                    year,
                    month,
                    month_num,
                    SUM(CASE WHEN loan_status IN("Charged Off","Default","Does not meet the credit policy. Status:Charged Off ") THEN 1 ELSE 0 END) as default_loans,
                    ROUND(SUM(total_pymnt),2) as volume,
                    SUM(loan_amnt)
                FROM
                    loans
                WHERE
                    loan_status IN("Charged Off","Default","Does not meet the credit policy. Status:Charged Off ") AND grade = "A"
                GROUP BY
                    1,2
                ORDER BY
                    1,3""").fetchall()
amnt_default_rate_df = pd.DataFrame(data=amnt_default_rate, columns=['year','month','month_num','default_loans','paid_to_date','total_loans'])
amnt_default_rate_df.to_csv('default_rate')

In [24]:
amnt_default_rate_df

    year month month_num  default_loans  paid_to_date  total_loans
0   2007   Dec        12              1       1111.46       2000.0
1   2008   Jan        01              5      32780.39      40675.0
2   2008   Mar        03              2       9229.30      18000.0
3   2008   Apr        04              1       1972.32      10000.0
4   2008   May        05              1       5113.00       6825.0
5   2008   Jul        07              2       8951.83      14500.0
6   2008   Oct        10              3       8346.51      26600.0
7   2008   Nov        11              1       1068.41       3000.0
8   2008   Dec        12              2      15591.94      20000.0
9   2009   Jan        01              6      22325.85      49500.0
10  2009   Feb        02              4      14652.18      33000.0
11  2009   Mar        03              8      32597.10      50700.0
12  2009   Apr        04              5      23821.91      51000.0
13  2009   May        05              5      34850.09      38450.0
14  2009   Jun        06              6      23142.16      57250.0
15  2009   Jul        07              7      32761.14      51350.0
16  2009   Aug        08              3      13266.54      24000.0
17  2009   Sep        09              9      46149.14      72400.0
18  2009   Oct        10             10      38688.90      64500.0
19  2009   Nov        11             10      35037.77      54000.0
20  2009   Dec        12              6      17509.40      43000.0
21  2010   Jan        01              6      46085.90      62600.0
22  2010   Feb        02              4      18740.41      20250.0
23  2010   Mar        03              4       5270.98      15500.0
24  2010   Apr        04              3      26100.94      29000.0
25  2010   May        05              9      21925.41      51225.0
26  2010   Jun        06             17      58104.70     119250.0
27  2010   Jul        07             13      51956.27      77550.0
28  2010   Aug        08              7      30512.48      46800.0
29  2010   Sep        09             16      94592.56     133700.0
..   ...   ...       ...            ...           ...          ...
59  2013   Mar        03             52     440231.55     833900.0
60  2013   Apr        04             46     471469.73     790950.0
61  2013   May        05             45     364112.27     719950.0
62  2013   Jun        06             29     208121.27     409100.0
63  2013   Jul        07             38     328865.74     588950.0
64  2013   Aug        08             46     339905.31     661850.0
65  2013   Sep        09             38     245566.04     541350.0
66  2013   Oct        10             45     326321.14     665975.0
67  2013   Nov        11             99     655008.46    1382050.0
68  2013   Dec        12             70     456045.98    1013425.0
69  2014   Jan        01             71     388398.96     920075.0
70  2014   Feb        02             62     404958.77     981825.0
71  2014   Mar        03             44     279570.78     707100.0
72  2014   Apr        04             64     362015.74     934225.0
73  2014   May        05             45     227446.69     623725.0
74  2014   Jun        06             52     232235.08     682825.0
75  2014   Jul        07             64     284020.25     924600.0
76  2014   Aug        08             42     164742.02     570900.0
77  2014   Sep        09             24      88284.87     329875.0
78  2014   Oct        10             72     260132.78    1055925.0
79  2014   Nov        11             33      90069.27     382800.0
80  2014   Dec        12              9      25803.30     157500.0
81  2015   Jan        01             21      36629.46     258700.0
82  2015   Feb        02             18      39309.19     249100.0
83  2015   Mar        03             20      52856.70     309400.0
84  2015   Apr        04             22      30172.99     295525.0
85  2015   May        05             11       7319.08     114000.0
86  2015   Jun        06              7       7889.61     118800.0
87  2015   Jul        07              4        927.05      68000.0
88  2015   Aug        08              4        700.00      40100.0

[89 rows x 6 columns]

In [140]:
test = loans[loans['loan_status'] == "Charged Off" ]
test.to_csv('testing')

In [135]:
loans.loan_status.value_counts()

Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [42]:
grade_loans = engine.execute("""
                SELECT
                    year,
                    month,
                    month_num,
                    SUM(loan_amnt) AS value,
                    ROUND(SUM(loan_gmv),2) AS gmv
                FROM
                    loans
                WHERE
                    grade = "G" and loan_status = "Fully Paid"
                GROUP BY
                    1,2
                ORDER BY
                    1,3""").fetchall()
grade_loans_df = pd.DataFrame(data=grade_loans, columns=['year','month','month_num','value','gmv'])
grade_loans_df.to_csv('grade_loans')

In [71]:
loans.shape

(887379, 84)

In [70]:
loan_lending = pd.read_csv('LoanStats3a.csv')
loan_lending.shape

(42539, 1)